$primary-color: #7d2ae8;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

body::-webkit-scrollbar {
  display: none;
}

/**************************/
/* NAVIGATION */
/**************************/

header {
  position: relative;
  z-index: 0;

  .header-container {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;

    .logo {
      font-size: 2em;
      color: white;
      text-decoration: none;
      margin-left: 40px;
      font-weight: 500;
      cursor: pointer;
    }

    .main-nav-list {
      list-style: none;
      display: flex;
      align-items: center;

      a {
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        margin-right: 40px;
        font-weight: 500;
        transition: 0.2s;
      }

      a:hover {
        color: #dddbdb;
      }

      a:active {
        color: #b2b2b2;
      }

      .contact-btn {
        color: #fff;
        text-decoration: none;
        padding: 8px 35px;
        background: transparent;
        border-radius: 10px;
        border: 2px solid #fff;
        font-weight: 500;
        transition: 0.2s;
      }

      .contact-btn:hover {
        border: 2px solid #dddbdb;
      }
      .contact-btn:active {
        border: 2px solid #b2b2b2;
      }
    }
  }

  .curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;

    svg {
      position: relative;
      display: block;
      width: calc(300% + 1.3px);
      height: 335px;

      .shape-fill {
        fill: $primary-color;
      }
    }
  }
}

.scroll-top {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 100;
  a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: $primary-color;
    border-radius: 50%;

    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid $primary-color;
    transition: 0.2s;
    i {
      color: #fff;
    }
  }

  a:hover {
    transform: translateY(-5px);
  }
}

/**************************/
/* HOME */
/**************************/

.home {
  position: relative;
  width: 100%;
  height: 110vh;
  background-image: url(../images/background.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: 700px;
  display: flex;
  align-items: center;
  padding: 60px 100px 30px 100px;

  z-index: -100;

  .content {
    max-width: 500px;
    color: #555;
    padding-left: 50px;

    h2 {
      font-size: 3em;

      span {
        color: $primary-color;
      }
    }

    h4 {
      font-size: 2em;
    }

    p {
      padding: 10px 0 40px 0;
    }

    .btn-group a {
      color: #fff;
      text-decoration: none;
      padding: 10px 40px;
      background: $primary-color;
      border-radius: 10px;
      border: 2px solid $primary-color;
      font-weight: 500px;
      transition: 0.2s;
      cursor: pointer;
    }

    .btn-group a:nth-child(2) {
      color: $primary-color;
      background: transparent;
      margin-left: 25px;
      padding: 10px 30px;
    }

    .btn-group a:hover:nth-child(1) {
      background: transparent;
      color: $primary-color;
    }

    .btn-group a:hover:nth-child(2) {
      color: #fff;
      background: $primary-color;
    }
  }

  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
      position: relative;
      display: block;
      width: calc(130% + 1.3px);
      height: 44px;
    }
    .shape-fill {
      fill: $primary-color;
    }
  }
}

/**************************/
/* SKILLS SECTION */
/**************************/

.skills-container {
  position: relative;
  background: $primary-color;
  height: 300px;
  width: 100%;
  z-index: -100;

  .skills-title {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #fff;
    font-size: 2.4em;
    top: 30px;
    text-align: center;
  }
  .skills-logos {
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    img {
      height: 75px;
      width: 75px;
    }
  }
}

/**************************/
/* PORTFOLIO SECTION */
/**************************/

.portfolio {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 200px;
  z-index: -100;
  h1 {
    padding: 100px 0 80px 0;
    color: #555;
    font-size: 3em;
    text-align: center;
  }
  .grid-container {
    display: flex;
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    justify-content: center;

    .portfolio-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 25px;

      .card {
        width: 300px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.31);
        transition: 0.25s;
      }

      .card:hover {
        transform: translateY(-15px);
      }

      .card-1,
      .card-2,
      .card-3,
      .card-4 {
        text-align: center;
        align-items: center;

        .tech-name {
          display: flex;
          margin: 0 auto;
          border-bottom: 1px solid $primary-color;
          height: 50%;
          width: 70%;
          align-items: center;
          justify-content: center;
          color: #777;
          font-size: 32px;
        }
        .coming-soon {
          display: flex;
          margin: 0 auto;
          height: 50%;
          align-items: center;
          justify-content: center;
          color: #555;
          font-size: 32px;
        }
      }

      .card-1 {
        background-image: url();
        background-size: 300px;
        background-position: center;
        overflow: hidden;

        .thumbnail-img-1 {
          width: 300px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        }
        .card-info {
          p {
            padding: 10px;
            color: #555;
            font-size: 16px;
          }
          .card-buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            a i {
              display: inline-block;
              height: 45px;
              width: 45px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .curve-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(124% + 1.3px);
      height: 31px;
      transform: rotateY(180deg);
      .shape-fill {
        fill: $primary-color;
      }
    }
  }
}

.purple-line {
  width: 60%;
  height: 3px;
  border-radius: 50%;
  margin: 0 auto;
  background: $primary-color;
}

/**************************/
/* FOOTER/CONTACTS SECTION */
/**************************/

.contacts {
  text-align: center;
  height: 70vh;
  color: #555;
  font-size: 1.5em;
  padding-top: 100px;
  position: relative;
  z-index: -100;

  h1 {
    margin-bottom: 25px;
  }
  .contact-container {
    display: flex;
    width: fit-content;
    height: 85%;
    margin: 70px auto;
    gap: 100px;
    p {
      margin-bottom: 20px;
    }
    a i {
      transition: 0.3s;
    }
    a i:hover {
      color: #8a40eb;
      transform: translateY(-10px);
    }
    .contact-container a i:active {
      color: #6c0cea;
    }
  }

  .curve-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
      position: relative;
      display: block;
      width: calc(110% + 1.3px);
      height: 99px;
      transform: rotateY(180deg);
      .shape-fill {
        fill: $primary-color;
      }
    }
  }
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 1344px) {
  .home {
    padding: 2rem 2rem !important;
    background-position: 520px 240px !important;
    background-size: 50%;
    margin-top: 0px !important;
  }

  .skills-container {
    .skills-logos {
      width: 50%;

      img {
        height: 75px;
        width: 75px;
      }
    }
  }

  .card {
    width: 280px !important;
    height: 290px !important;
  }

  .card-1 {
    background-size: 280px !important;
    .thumbnail-img-1 {
      width: 280px;
    }
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px;
  }
}

/**************************/
/* BELOW 960px (Tablets) */
/**************************/

@media only screen and (min-width: 545px) and (max-width: 960px) {
  .home {
    height: 90vh !important;
    padding: 2rem 2rem !important;
    padding-top: 250px !important;
    background-position: 110px 600px !important;
    background-size: 75%;
    flex-direction: column;
    margin-top: 0px !important;

    .content {
      width: 80% !important;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 0;

      h2 {
        font-size: 3em !important;
        margin-bottom: 0.5em;
      }

      h4 {
        font-size: 2em !important;
        margin-bottom: 0.5em;
      }

      p {
        font-size: 20px !important;
      }
    }
  }

  .skills-container {
    .skills-logos {
      width: 60%;

      img {
        height: 60px;
        width: 60px;
      }
    }
  }

  .portfolio {
    margin-bottom: 120px;
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px;
  }

  .card:hover {
    transform: none !important;
  }

  a i:hover {
    transform: none !important;
  }
}

/**************************/
/* BELOW 545px (Mobile) */
/**************************/

@media (max-width: 544px) {
  .logo {
    margin-right: -100px;
    margin-left: 30px !important;
  }

  .main-nav-list {
    a {
      margin-right: 20px !important;
      font-size: 1em;
    }

    .contact-btn {
      border: none !important;
      padding: 0px !important;
    }
  }

  .home {
    height: 110vh;
    padding: 2rem 2rem !important;
    padding-top: 220px !important;
    background-position: 20px 620px !important;
    background-size: 90%;
    flex-direction: column;
    margin-top: 0px !important;

    .content {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 0;

      h2 {
        font-size: 2.4em !important;
        margin-bottom: 0.5em;
      }

      h4 {
        font-size: 2em !important;
        margin-bottom: 0.6em;
      }

      p {
        font-size: 18px !important;
      }

      .btn-group {
        display: flex;
        margin: 0 auto;
      }
    }
  }

  .skills-container {
    height: 200px;

    .skills-title {
      padding-top: 20px;
      padding-bottom: 30px;
    }

    .skills-logos {
      width: 80%;

      img {
        height: 60px;
        width: 60px;
      }
    }
  }

  .portfolio {
    margin-bottom: 80px;

    .card:hover {
      transform: none !important;
    }
  }

  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
  }

  .contacts {
    padding-top: 50px;

    .contact-container {
      height: 90% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .linkedin-contact {
        margin-top: -30px;

        a i:hover {
          transform: none !important;
        }
      }

      .email-contact {
        margin-top: -70px;
      }
    }
  }
}

/* Mobile Styles */
@media (max-width: 400px) {
  .logo {
    margin-left: 10px !important;
  }
}
