@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

body::-webkit-scrollbar {
  display: none;
}

/**************************/
/* NAVIGATION */
/**************************/
header {
  position: relative;
  z-index: 100;
}
header .header-container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7d2ae8;
}
header .header-container .logo {
  font-size: 2em;
  color: white;
  text-decoration: none;
  margin-left: 40px;
  font-weight: 500;
  cursor: pointer;
}
header .header-container .main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}
header .header-container .main-nav-list a {
  font-size: 1.1em;
  color: white;
  text-decoration: none;
  margin-right: 40px;
  font-weight: 500;
  transition: 0.2s;
}
header .header-container .main-nav-list a:hover {
  color: #dddbdb;
}
header .header-container .main-nav-list a:active {
  color: #b2b2b2;
}
header .header-container .main-nav-list .contact-btn {
  color: #fff;
  text-decoration: none;
  padding: 8px 35px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid #fff;
  font-weight: 500;
  transition: 0.2s;
}
header .header-container .main-nav-list .contact-btn:hover {
  border: 2px solid #dddbdb;
}
header .header-container .main-nav-list .contact-btn:active {
  border: 2px solid #b2b2b2;
}
header .curve {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
header .curve svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 335px;
}
header .curve svg .shape-fill {
  fill: #7d2ae8;
}

.scroll-top {
  position: fixed;
  bottom: 70px;
  right: 30px;
  z-index: 100;
}
.scroll-top a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #7d2ae8;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  border: 1px solid #fff;
  outline: 2px solid #7d2ae8;
  transition: 0.2s;
}
.scroll-top a i {
  color: #fff;
}
.scroll-top a:hover {
  transform: translateY(-5px);
}

/**************************/
/* HOME */
/**************************/
.home {
  position: relative;
  width: 100%;
  height: 110vh;
  background-image: url(../images/background.png);
  background-size: 44%;
  background-repeat: no-repeat;
  background-position: 700px;
  display: flex;
  align-items: center;
  padding: 60px 100px 30px 100px;
}
.home .content {
  max-width: 500px;
  color: #555;
  padding-left: 50px;
}
.home .content h2 {
  font-size: 3em;
}
.home .content h2 span {
  color: #7d2ae8;
}
.home .content h4 {
  font-size: 2em;
}
.home .content p {
  padding: 10px 0 40px 0;
}
.home .content .btn-group a {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: #7d2ae8;
  border-radius: 10px;
  border: 2px solid #7d2ae8;
  font-weight: 500px;
  transition: 0.2s;
  cursor: pointer;
}
.home .content .btn-group a:nth-child(2) {
  color: #7d2ae8;
  background: transparent;
  margin-left: 25px;
  padding: 10px 30px;
}
.home .content .btn-group a:hover:nth-child(1) {
  background: transparent;
  color: #7d2ae8;
}
.home .content .btn-group a:hover:nth-child(2) {
  color: #fff;
  background: #7d2ae8;
}
.home .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.home .wave svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 44px;
}
.home .wave .shape-fill {
  fill: #7d2ae8;
}

/**************************/
/* SKILLS SECTION */
/**************************/
.skills-container {
  position: relative;
  background: #7d2ae8;
  height: 300px;
  width: 100%;
}
.skills-container .skills-title {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 2.4em;
  top: 30px;
  text-align: center;
}
.skills-container .skills-logos {
  margin: 0 auto;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.skills-container .skills-logos img {
  height: 75px;
  width: 75px;
}

/**************************/
/* PORTFOLIO SECTION */
/**************************/
.portfolio {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 200px;
}
.portfolio h1 {
  padding: 100px 0 80px 0;
  color: #555;
  font-size: 3em;
  text-align: center;
}
.portfolio .grid-container {
  display: flex;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: center;
}
.portfolio .grid-container .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.portfolio .grid-container .portfolio-grid .card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.31);
  transition: 0.25s;
}
.portfolio .grid-container .portfolio-grid .card:hover {
  transform: translateY(-15px);
}
.portfolio .grid-container .portfolio-grid .card-1,
.portfolio .grid-container .portfolio-grid .card-2,
.portfolio .grid-container .portfolio-grid .card-3,
.portfolio .grid-container .portfolio-grid .card-4 {
  text-align: center;
  align-items: center;
}
.portfolio .grid-container .portfolio-grid .card-1 .tech-name,
.portfolio .grid-container .portfolio-grid .card-2 .tech-name,
.portfolio .grid-container .portfolio-grid .card-3 .tech-name,
.portfolio .grid-container .portfolio-grid .card-4 .tech-name {
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #7d2ae8;
  height: 50%;
  width: 70%;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 32px;
}
.portfolio .grid-container .portfolio-grid .card-1 .coming-soon,
.portfolio .grid-container .portfolio-grid .card-2 .coming-soon,
.portfolio .grid-container .portfolio-grid .card-3 .coming-soon,
.portfolio .grid-container .portfolio-grid .card-4 .coming-soon {
  display: flex;
  margin: 0 auto;
  height: 50%;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 32px;
}
.portfolio .grid-container .portfolio-grid .card-1,
.portfolio .grid-container .portfolio-grid .card-2 {
  background-image: url();
  background-size: 300px;
  background-position: center;
  overflow: hidden;
}
.portfolio .grid-container .portfolio-grid .card-1 .thumbnail-img-1,
.portfolio .grid-container .portfolio-grid .card-1 .thumbnail-img-2,
.portfolio .grid-container .portfolio-grid .card-2 .thumbnail-img-1,
.portfolio .grid-container .portfolio-grid .card-2 .thumbnail-img-2 {
  width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.portfolio .grid-container .portfolio-grid .card-1 .card-info p,
.portfolio .grid-container .portfolio-grid .card-2 .card-info p {
  padding: 10px;
  color: #555;
  font-size: 16px;
}
.portfolio .grid-container .portfolio-grid .card-1 .card-info .card-buttons,
.portfolio .grid-container .portfolio-grid .card-2 .card-info .card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.portfolio .grid-container .portfolio-grid .card-1 .card-info .card-buttons a i,
.portfolio .grid-container .portfolio-grid .card-2 .card-info .card-buttons a i {
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
}
.portfolio .grid-container .portfolio-grid .card-2 a i {
  margin-top: 35px;
}
.portfolio .curve-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.portfolio .curve-1 svg {
  position: relative;
  display: block;
  width: calc(124% + 1.3px);
  height: 31px;
  transform: rotateY(180deg);
}
.portfolio .curve-1 svg .shape-fill {
  fill: #7d2ae8;
}

.purple-line {
  width: 60%;
  height: 3px;
  border-radius: 50%;
  margin: 0 auto;
  background: #7d2ae8;
}

/**************************/
/* FOOTER/CONTACTS SECTION */
/**************************/
.contacts {
  text-align: center;
  height: 900px;
  color: #555;
  font-size: 1.5em;
  padding-top: 100px;
  position: relative;
}
.contacts h1 {
  margin-bottom: 50px;
}
.contacts .contact-me p {
  margin-bottom: 15px;
}
.contacts .contact-me .form-purple-line {
  width: 80px;
  height: 3px;
  background-color: #7d2ae8;
  margin: 0 auto;
  margin-bottom: 15px;
}
.contacts .contact-me .form-purple-line:nth-child(2) {
  margin-top: 30px;
}
.contacts .contact-me i {
  margin-top: 10px;
}
.contacts .contact-me .form-container {
  width: 400px;
  margin: 0 auto;
}
.contacts .contact-me .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.contacts .contact-me .form-container .form .field {
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid #777;
  font-size: 16px;
}
.contacts .contact-me .form-container .form button {
  padding: 16px 10px;
  border: none;
  background-color: #7d2ae8;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}
.contacts .contact-me .form-container .form button:active {
  background-color: #7214ee;
}

.curve-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.curve-3 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}
.curve-3 svg .shape-fill {
  fill: #7d2ae8;
}

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 1344px) {
  .home {
    padding: 2rem 2rem !important;
    background-position: 520px 240px !important;
    background-size: 50%;
    margin-top: 0px !important;
  }
  .skills-container .skills-logos {
    width: 50%;
  }
  .skills-container .skills-logos img {
    height: 75px;
    width: 75px;
  }
  .card {
    width: 280px !important;
    height: 290px !important;
  }
  .card-1 {
    background-size: 280px !important;
  }
  .card-1 .thumbnail-img-1 {
    width: 280px;
  }
}
/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media only screen and (min-width: 961px) and (max-width: 1200px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px;
  }
}
/**************************/
/* BELOW 960px (Tablets) */
/**************************/
@media only screen and (min-width: 545px) and (max-width: 960px) {
  .home {
    height: 90vh !important;
    padding: 2rem 2rem !important;
    padding-top: 250px !important;
    background-position: 110px 600px !important;
    background-size: 75%;
    flex-direction: column;
    margin-top: 0px !important;
  }
  .home .content {
    width: 80% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }
  .home .content h2 {
    font-size: 3em !important;
    margin-bottom: 0.5em;
  }
  .home .content h4 {
    font-size: 2em !important;
    margin-bottom: 0.5em;
  }
  .home .content p {
    font-size: 20px !important;
  }
  .skills-container .skills-logos {
    width: 60%;
  }
  .skills-container .skills-logos img {
    height: 60px;
    width: 60px;
  }
  .portfolio {
    margin-bottom: 120px;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 25px;
  }
  .card:hover {
    transform: none !important;
  }
  a i:hover {
    transform: none !important;
  }
}
/**************************/
/* BELOW 545px (Mobile) */
/**************************/
@media (max-width: 544px) {
  .logo {
    margin-right: -100px;
    margin-left: 30px !important;
  }
  .main-nav-list a {
    margin-right: 20px !important;
    font-size: 1em;
  }
  .main-nav-list .contact-btn {
    border: none !important;
    padding: 0px !important;
  }
  .home {
    height: 900px;
    padding: 2rem 2rem !important;
    padding-top: 220px !important;
    background-position: 20px 590px !important;
    background-size: 90%;
    flex-direction: column;
    margin-top: 0px !important;
  }
  .home .content {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
  }
  .home .content h2 {
    font-size: 2.4em !important;
    margin-bottom: 0.5em;
  }
  .home .content h4 {
    font-size: 2em !important;
    margin-bottom: 0.6em;
  }
  .home .content p {
    font-size: 18px !important;
  }
  .home .content .btn-group {
    display: flex;
    margin: 0 auto;
  }
  .skills-container {
    height: 200px;
  }
  .skills-container .skills-title {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .skills-container .skills-logos {
    width: 80%;
  }
  .skills-container .skills-logos img {
    height: 60px;
    width: 60px;
  }
  .portfolio {
    margin-bottom: 80px;
  }
  .portfolio .card:hover {
    transform: none !important;
  }
  .portfolio-grid {
    display: grid;
    grid-template-columns: 1fr !important;
    gap: 25px;
  }
  .contacts {
    padding-top: 100px;
  }
  .contacts .form-container {
    width: 300px !important;
    margin: 0 auto;
  }
}
/* Mobile Styles */
@media (max-width: 400px) {
  .logo {
    margin-left: 10px !important;
  }
}